body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}

.container {
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card {
  height: 500px;
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.qr-code {
  max-width: 100%;
  border-radius: 8px;
}