body {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
  background-color: rgb(23, 23, 23);
  color: #fff;
}

header {
  width: 90%;
  max-width: 900px;
  margin: 100px auto;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

header form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header input {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  background: none;
  border: none;
  color: #fff;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
  font-size: 1.2rem;
}

header button {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  background: none;
  border: none;
  color: #fff;
  margin-bottom: 1rem;
  border: 2px solid #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

header button:hover {
  background-color: #fff;
  color: #000;
}

#github-result {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.text-danger {
  color: #ff0000;
}

.card {
  background-color: #fff;
  max-width: 300px;
  margin: 0 auto;
  color: black;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2rem;
  margin-bottom: 100px;
}

.card .card-header {
  display: flex;
  gap: 20px;
  position: relative;
  justify-content: center;
}

.card .card-header h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  position: relative;
  top: 10px;
}

.card .card-header a {
  color:rgb(23, 23, 23);
}

.card .card-header a:hover {
  color: rgb(255, 107, 107);
}

.card .card-body {
  text-align: left;
}

.card img {
  width: 100px;
  max-width: 100%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -50%;
  border: 3px solid rgb(255, 107, 107);
  transform: translate(-50%, -50%);
}

.badge {
  background-color: rgb(255, 107, 107);
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.card .user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  font-style: italic;
}

.card .user-info .title {
  font-weight: 700;
}