body {
  background-color: #232830;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Recursive', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 1236px;
  margin: 0 auto;
  margin-top: 75px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  text-decoration: underline;
}

header .home-link {
  font-size: 30px;
}

header nav a {
  font-size: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 844px;
}

.hero img {
  max-width: 100%;
  width: 350px;
}

.hero h1 {
  font-size: 70px;
  font-style: italic;
  color: #FF7575;
  font-weight: 400;
}

.hero p {
  font-size: 29px;
  font-weight: 400;
}

.category-listing {
  border-top: 3px solid #4D4D4D;
  margin-top: 100px;
  display: flex;
  padding: 15px 0;
  gap: 20px;
  justify-content: center;
}

.category-listing img {
  width: 24px;
}

.category-listing ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.category-listing a {
  color: #909090;
  text-decoration: none;
  font-family: 'Recursive', sans-serif;
  font-size: 27px;
  font-weight: 400;
  font-style: italic;
}

.category-listing a:hover {
  text-decoration: underline;
}

.articles-listing {
  width: 1244px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.articles-listing .post {
  width: 390px;
  height: 439px;
  box-sizing: border-box;
  padding: 27px;
  background: #fff;
  border-radius: 22px;
  color: #000;
}

.post .post-bg {
  width: 337px;
  height: 160px;
  margin: 0 auto;
  border-radius: 22px;
}

.post .post-header {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
}

.post .post-information {
  display: flex;
  gap: 30px;
}